#jsdom
    padding: 50px 0
    .chat
        width: 500px
        padding: 30px
        background-color: #dfe5fc
        border-radius: 20px

        .message
            border-radius: 10px
            background-color: #f9f9fa
            height: 300px
            padding: 5px
            border-radius: 20px
            // ::-webkit-scrollbar
            // width: 5px
            // ::-webkit-scrollbar-thumb
            // background: #fff
            // ::-webkit-scrollbar-track
            // background:#bbb5b5
            .end
                display: flex
                align-items: flex-end
                justify-content: end
            .line
                text-align: center
                // display: flex
                // justify-content: center
                // align-items: center
                display: inline-block
                background-color: #abb8f5
                border-radius: 30px
                margin: 5px
                min-width: 50px
                max-width: 50%
                padding: 10px

        .text
            display: flex
            flex-direction: row
            justify-content: center
            margin: 20px 0
        .message
            overflow: auto
        .message::-webkit-scrollbar
            width: 3px
        .message::-webkit-scrollbar-track
            background-color: #dfe5fc
        .message::-webkit-scrollbar-thumb
            background-color: #b9b7b7
        // .message::-webkit-scrollbar hover
        //     width: 10px

        input
            border: 1px solid #000
            border-radius: 20px
            margin: 0 10px
        .sent
            background-color: #abb8f5
            padding: 5px 20px
            border-radius: 20px
            color: #ffff

    @media (max-width: 992px)
        .chat
            margin: 20px
    @media (max-width: 768px)
        .chat
            width: 450px
    @media (max-width: 586px)
        .chat
            width: 380px
    @media (max-width: 400px)
        .chat
            width: 270px
            .text
                .sent
                    padding: 5px 15px
