#jsdom
    padding: 50px 0
    .chat
        width: 500px
        padding: 30px
        background-color: #dfe5fc
        border-radius: 20px
        .message
            background-color: #f9f9fa
            height: 300px
            padding: 5px
            border-radius: 20px
            .line
                text-align: center
                // display: flex
                // justify-content: center
                // align-items: center
                display: inline-block
                background-color: #abb8f5
                border-radius: 30px
                margin: 5px
                min-width: 50px
                max-width: 50%
                padding: 10px

        .text
            display: flex
            flex-direction: row
            justify-content: center
            margin: 20px 0
            input
                border: 1px solid #000
                border-radius: 20px
                margin: 0 10px
            .sent
                background-color: #abb8f5
                padding: 5px 20px
                border-radius: 20px
                color: #ffff
